* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  padding: 2rem;
  background-color: #444 ;
  max-width: 800px;
  border-radius:3%;
}

main #title > h1{
  font-size: 3rem;
  width: 424px;
}

main #title > h4{
  opacity: 50%;
}

main #title {
  margin-bottom: 1.5rem;

}

main #search-form {
  display: flex;
}

main #search-form form {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

main #search-form input {
  flex: 1;
  height: 32px;
  border-radius:5px ;
  border:none;
  padding: 0 10px;
  font-size: 16px;
}

main #search-form button {
  background-color: green;
  color: white;
  border: none;
  padding: 0rem 1rem;
  height: 32px;
  border-radius: 5px;
} 

main #tempo-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main #tempo-info .tempo-dados h2 {
font-size: 18px;
margin-bottom: 1rem;
font-weight: 400;
}

main #tempo-info .tempo-dados span {
font-weight: bold;
font-size: 3rem;
}




